[Unit]
Description=KeepassXC - Password Manager
Documentation=man:keepassxc

[Service]
ExecStart=/usr/bin/keepassxc

[Install]
WantedBy=autostart.target
