[Unit]
Description=sway session
Documentation=man:sway(1)
BindsTo=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target
