[Unit]
Description=Syncthingtray - Tray icon and notification for Syncthing

[Service]
ExecStart=/usr/bin/syncthingtray

[Install]
WantedBy=syncthing.service
