[Unit]
Description=xsettings daemon
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/xsettingsd

[Install]
WantedBy=sway-session.target
