[Unit]
Description=Daemon that implements the XSETTINGS specification
BindsTo=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/xsettingsd

[Install]
WantedBy=sway-session.target
