[core]
	editor = nvim
  pager = delta
[merge]
  tool = fugitive
[mergetool]
  prompt=true
[mergetool "fugitive"]
  cmd = nvim -f -c "Gvdiffsplit!" "$MERGED"
[difftool]
  prompt = false
[diff]
  tool = vimdiff
[push]
  default = current
[interactive]
  diffFilter = delta --color-only
[delta]
  features = side-by-side line-numbers decoration
  whitespace-error-style = 22 reverse
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
[alias]
  p = pull
  co = checkout
  cob = checkout -b
  del = branch -b
  br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
[init]
	defaultBranch = main
