window {
  margin: 0px;
  border: 0px solid gray;
  background-color: #2e3440;
}

#input {
  margin: 5px;
  border: 0px solid #4c566a;
  background-color: #2e3440;
  color: white;
}

#input image {
  color: rgba(0,0,0,0);
}

#inner-box {
  margin: 0px;
  border: 0px solid #2e3440;
  background-color: #2e3440;
}

#outer-box {
  margin: 0px;
  border: 0px solid #2e3440;
  background-color: #2e3440;
}

#scroll {
  margin: 0px;
  border: 0px solid #2e3440;
  background-color: #2e3440;
}

#text {
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
}

#entry:selected {
  background-color: #434c5e;
}

#img {
  margin: 10px;
}
