# Navigation and Zoom
goto_begining       gg
goto_page_with_page_number		<home>
goto_end            <S-g>
move_down           j
move_up             k
move_left           h
move_right          l
next_page           <S-j>
previous_page       <S-k>
screen_down         <space>
screen_up           <S-space>
screen_down         <pagedown>
screen_up           <pageup>
next_chapter        gc
prev_chapter        g<S-c>
pop_state           w
next_state          <C-i>
prev_state          <C-o>
goto_toc            t
zoom_in             zi
zoom_out            zo
fit_to_page_width   <S-z><S-z>
fit_to_page_width_smart   zz
open_document       o
open_prev_doc       <S-o>

# Search
search              /
ranged_search       r/
chapter_search      c/
next_item           n
previous_item       <S-n>

# Bookmarks
add_bookmark        b
delete_bookmark     db
goto_bookmark       gb
goto_bookmark_g     g<S-b>

# Highlights
add_highlight		i
goto_highlight		gi
goto_highlight_g	g<S-i>
delete_highlight	di

# Marks
set_mark            m
goto_mark           .

# Portals
link                p
delete_link         dp
goto_link           <tab>
edit_link           <S-p>
edit_link           <S-<tab>>
toggle_one_window   <f12>

# Misc
copy                <C-c>
toggle_fullscreen   <S-f>
toggle_highlight    <f1>
command             <S-:>
search_selected_text_in_google_scholar      ss
search_selected_text_in_libgen              sl
open_selected_url			    <S-q>
toggle_dark_mode	<C-r>
toggle_synctex		<f4>
toggle_mouse_drag_mode	<f6>
toggle_presentation_mode	<C-f>
quit		q
