@import url("userChrome.css");

/* Removes white loading page */
@-moz-document url(about:blank), url(about:newtab), url(about:home) {
  html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
    background: var(--mff-bg) !important;
  }
}

@-moz-document url("about:newtab") {
  body {
    background-color: #202020 !important;
  }
}

@-moz-document url("about:blank") {
  body {
    background-color: #202020 !important;
  }
}

@-moz-document url(chrome://browser/content/browser.xhtml) {
  browser[type="content-primary"] {
    background: #202020 !important
  }
}


/* Hide scrollbar */

:root{
  scrollbar-width: none !important;
}


@-moz-document url(about:privatebrowsing) {

  :root{
    scrollbar-width: none !important;
  }
}

